tunnel: <TUNNEL_ID>
credentials-file: C:\Windows\System32\config\systemprofile\.cloudflared\<TUNNEL_ID>.json

ingress:
  - hostname: www.example.com
    service: http://127.0.0.1:3000
  - hostname: example.com
    service: http://127.0.0.1:3000
  - service: http_status:404

logfile: C:\Cloudflared\cloudflared.log
